

.heading {
  color: #231f1f;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
}

.heading::before {
  padding-right: 10px;
  content: "Weather";
  color: #163d4a;
  font-weight: bolder;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 120%;
}

body {

  background: linear-gradient(#5070ff, #ba76ff);
  height: 100%;
  background-size: cover;
  margin: 0px;
}

.whole {
  width: 35%;
  height: 700px;
  border-radius: 15px;
  box-shadow: 0px 2px 40px black;
  background-image: linear-gradient(rgba(20, 20, 20, 0.30),
      rgba(20, 20, 20, 0.25)), url("https://i.pinimg.com/736x/cc/6e/12/cc6e12bf420f8ad3e5a8653fbe16c098.jpg");
  background-size: cover;

}

.container {
  display: flex;
  justify-content: center;
}

#input {

  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 15px;


}

input::placeholder {
  font-size: 16px;
}

#search {
  color: white;
  border-radius: 9px;
  border: none;
  font-family: arial, sans-serif;
  font-weight: bold;
  padding: 15px;
  background-color: #24bf24;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  transition: transform .4s
}

#search:hover {
  background-color: #288d28;
  font-size: 16px;
  transform: scale(1.1)
}

.searchbox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0px;
}

.weatherinfo {
  font-family: arial, sans-serif;
}

.header {
  margin-bottom: -12px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.city {
  margin-bottom: -10px;
  color: orange;
}

.weathercondition {
  font-size: 20px;
  margin-top: 17px;
}

.mainweatherinfo {
  display: grid;
  justify-content: center;
  color: white;
}

.img {
  width: 85px;
}


.temperature {
  margin-top: 0px;
}

.maincontainer {
  display: flex;
  gap: 65px;
  margin-left: 13px;
}

.container1 {
  box-shadow: 0px 0px 9px #0000009c;
  border-radius: 12px;
  width: 172px;
  height: 111px;
  cursor: pointer;
  transition: transform .4s
}

.container1:hover {
  transform: scale(1.1)
}


.title {
  font-weight: 800;
  font-size: 16px;
  font-family: arial, sans-serif;
  color: #ffe500;
  text-align: center;
}

.body {
  font-size: 15px;
  font-family: arial, sans-serif;
  color: white;
  display: flex;

}

#date {

  color: aqua;
}

#firstcontainer {
  margin-bottom: 32px;
}

.smallicons {
  width: 50px;
}

.imgtext {
  margin-top: 10px;
  margin-left: 8px;
  font-weight: bolder;
}

#error {
  font-size: 24px;
  color: white;
}